@import url(/pc/public/css/module/mod_btn.css);
@import url(/pc/public/css/module/mod_level.css);
@import url(/pc/public/css/module/mod_profile.css);
@import url(/pc/public/css/module/mod_popup_box.css);
@import url(/pc/public/css/skin/main_color.css);
.ls-setAccount {
    min-height:715px;
    padding:24px 22px;
}
.ls-setAccount .ls-bd {
    padding-top:60px;
    font-size:1.1428571428571428em;
}
.ls-setAccount .form {
    margin:0 auto;
}
.ls-setAccount .has-sentEmail .tips-txt.tips-icon {
    margin-top:100px;
}
.ls-setAccount .reset-pwd .ls-bd {
    width:415px;
    margin:0 auto;    
}
.ls-setAccount .reset-pwd h3 {
    margin-bottom:36px;
    color:#fff;
}
.ls-setAccount .reset-pwd .ls-f-info {
    margin-left:3px;
}
.ls-setAccount dt {
    margin-bottom:5px;
    color:#a2a2a2;
}
.ls-setAccount dd {
    margin-bottom:36px;
}
.ls-setAccount .input-box {
    margin-bottom:5px;
}
.ls-setAccount .reset-pwd .input-txt {
    width:395px;
}
.ls-setAccount .btn-mainSubmit {
    width:307px!important;
}
.ls-setAccount .ls-ft-btn {
    margin-top:80px;
}
.ls-setAccount .forgot-pwd .form {
    width:408px;
}
.ls-setAccount .forgot-pwd .input-txt {
    width:388px;
}
.ls-setAccount .forgot-pwd .row-verification .input-txt {
    width:148px;
}
.ls-setAccount .row-verification .btn-primary {
    width:74px;
    margin-left:10px;
}
.ls-setAccount .row-verification .btn-reflash {
    color:#696969;
    font-size:30px;
}